<%= render 'nav_show'%>
<h1><%=@titre%></h1>

<p>
  <b>Nom:</b>
  <%= @carte.nom %>
</p>

<p>
  <b>Info:</b>
  <%= @carte.info %>
</p>

<p>
  <b>Village:</b>
  <%= @carte.village_id %>
</p>

<p>
  <b>Url originale:</b>
  <%= @carte.url_originale %>
</p>


<%= render 'nav_show'%>