<h1>Liste des départements</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Code</th>
    <th>Nc</th>
    <th></th>
    <th></th>
  </tr>

<% @departements.each do |departement| %>
  <tr>
    <td><%= departement.nom %></td>
    <td><%= departement.code %></td>
    <td><%= departement.nc %></td>
    <td><%= link_to 'Show', [@region, departement] %></td>
    <td><%= link_to 'Edit', @region ? edit_region_departement_path(@region, departement) : edit_departement_path(departement) %></td>
  </tr>
<% end %>
</table>

