<p id="notice"><%= notice %></p>


<p>
  <b>Nom:</b>
  <%= @departement.nom %>
</p>

<p>
  <b>Région:</b>
  <%= @departement.region.nom %>
</p>

<p>
  <b>Code:</b>
  <%= @departement.code %>
</p>

<p>
  <b>Nc:</b>
  <%= @departement.nc %>
</p>



<%= link_to 'Edit', @region ? edit_region_departement_path(@region, @departement) : edit_departement_path(@departement) %> |
<%= link_to 'Back', @region ? region_departements_path(@region) : departements_path %>
