<%= render 'erreur'%>
<div class="field">
  <%= f.label :article %><br />
  <%= f.text_field :article %>
</div>
<div class="field">
  <%= f.label :nom_sa %><br />
  <%= f.text_field :nom_sa %>
</div>

  <% if @village.dir_existe%>
    Nom court: <b><%=@village.nc%></b  >
  <%else%>
    <div class="field">
      Nom court<br />
      <%= f.text_field :nc %>
    </div>
  <%end%>

<div class="radio_button">
<%= f.radio_button(:type_village, "mer") %>
  <%= f.label(:type_village_mer, "Mer") %><br />
<%= f.radio_button(:type_village, "campagne") %>
  <%= f.label(:type_village_campagne, "Campagne") %><br />
<%= f.radio_button(:type_village, "montagne") %>
  <%= f.label(:type_village_montagne, "Montagne") %><br />
</div>
<p>
  <b>Adresse:</b><br />
  <%=  @village.nom unless @village.new_record?%>
  <div class="field">
    <%= f.label :rue %><br />
    <%= f.text_field :rue %>
  </div>
  <div class="field">
    <%= f.label :cp %><br />
    <%= f.text_field :cp %>
  </div>
  <div class="field">
    <%= f.label :ville %><br />
    <%= f.text_field :ville %>
  </div>
</p>
  <div class="field">
  <%= f.label :longitude %><br />
  <%= f.text_field :longitude %>
</div>
<div class="field">
  <%= f.label :latitude %><br />
  <%= f.text_field :latitude %>
</div>
<div class="field">
  <%= f.label :date_entree %><br />
  <%= f.date_select :date_entree, :start_year=>Time.now.year - 30, 
                                  :order => [:day, :month, :year], 
                                  :include_blank => true, 
                                  :default => { :day => "", :month => "", :year => "" } %>
  </div>
