<h1><%=@titre%></h1>

<%= form_for(@village, :url => { :action => 'update_desactive'  }) do |f| %>
  <%= render 'erreur'%>
  <div class="field">
    <%= f.hidden_field :actif %>
  </div>
  <div class="field">
    <%= f.label :date_sortie %><br />
    <%= f.date_select :date_sortie, :start_year=>Time.now.year - 5, 
                                    :order => [:day, :month, :year], 
                                    :default => { :day => Time.now.day, :month => Time.now.month, :year => Time.now.year } %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit(:value => "Désactiver le village") %>
  </div>
<% end %>

<%= link_to 'Retour', villages_path %>

