<%= render 'nav_index_non_actifs' %>
<h1><%=@titre%></h1>
<table>
  <tr>
    <th>Nom</th>
    <th>Nom court</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @villages.each do |village| %>
  <tr>
    <td><%= nom_art_parenth(village) %></td>
    <td><%= village.nc %></td>
    <td><%= village.type_village %></td>
    <td><%= link_to 'Voir', village %></td>
    <td><%= link_to 'Editer', edit_village_path(village) %></td>
    <td><%= link_to 'Réactiver', reactive_village_path(village) %></td>
    <td><%= link_to 'Suppr.', village, :confirm => "Etes-vous certain de vouloir supprimer #{village.nom} et ses photos associées ?", 
                                                 :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= render 'nav_index_non_actifs' %>