<h1>Villages Cap France</h1>

<p><%=link_to "Eléments Cap France", "#"%></p>

<table>
  <tr>
    <th>Nom</th>
    <th>Type village</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @villages.each do |village| %>
  <tr>
    <td><%= nom_art_parenth(village) %></td>
    <td><%= village.type_village %></td>
    <td><%= link_to 'voir', village %></td>
    <td><%= link_to 'éditer', edit_village_path(village) %></td>
    <td><%= link_to 'suppr.', village, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau Village', new_village_path %>
