<%= render 'nav_index' %>
<h1>Villages Cap France</h1>
<table>
  <tr>
    <th>Nom</th>
    <th>Type village</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @villages.each do |village| %>
  <tr>
    <td><%= nom_art_parenth(village) %></td>
    <td><%= village.type_village %></td>
    <td><%= link_to 'Voir', village %></td>
    <td><%= link_to 'Editer', edit_village_path(village) %></td>
    <td><%= link_to 'Désactiver', desactive_village_path(village) %></td>
    <td><%= link_to 'Suppr.', village, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= render 'nav_index' %>
