<%= render 'nav_show' %>
<h1><%=@titre%></h1>

<p>
  <b>Nom court :</b>
  <%= @village.nc %>
</p>


<p>
  <b>Type:</b>
  <%= @village.type_village %>
</p>

<p>
  <b>Adresse:</b><br/>
  <%= @village.nom %><br/>
  <%= @village.rue %><br/>
  <%= @village.cp + " " + @village.ville%><br/>
</p>
<p>
  <b>Coordonnées:</b><br/>
  Longitude: <%= @village.longitude %> / Latitude: <%= @village.latitude %>
</p>

<p>
  <b>Date d'entrée:</b>
  <%= @village.date_entree.strftime('%d/%m/%Y') if @village.date_entree%>
</p>

<%unless @village.actif%>
<p>
  <b>Date de sortie:</b>
  <%= @village.date_sortie.strftime('%d/%m/%Y') if @village.date_sortie%>
</p>
<%end%>
<%= render 'nav_show' %>


