<%= form_for([@village, @photo]) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>
  <div class="field">
  <%= f.file_field :url_originale %>
  </div>
  <div class="field">
    <%= f.label :legende %><br />
    <%= f.text_field :legende %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>
  <%= f.hidden_field :village_id %>
  <%= f.hidden_field :actif %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
