<h1><%=@titre%></h1>

<%= form_for([@village, @photo]) do |f| %>
  <%= "url orginale: " + @photo.url_originale %>
  <%= render 'champs', :f => f %>
  <div class="actions">
     <%= f.submit "Modifier la photo"%>
  </div>
<% end %>

<%= link_to 'Voir', [@village, @photo] %> |
<%= link_to 'Retour', @village ? village_photos_path(@village) : photos_path %>
