<%= render 'nav_champs'%>
<h1><%=@titre%></h1>

<%= form_for([@village, @photo], :html => {:multipart => true}) do |f| %>
  <%= render 'champs', :f => f %>
  <div class="actions">
    <%= f.submit "Créer la photo" %>
  </div>
<% end %>

<%= render 'nav_champs'%>
