<%= render 'nav_show'%>
<h1><%=@titre%></h1>

<%= image_tag(@photo.url_photo(:web)) %>

<p>
  <b>Village:</b>
  <%= @photo.village.nom %>
</p>

<p>
  <b>Préfix:</b>
  <%= @photo.prefix %>
</p>


<p>
  <b>Fichier photo originale:</b>
  <%= @photo.url_originale %><br /> 
</p>

<p>
  <b>Fichier photo définitive:</b>
  <%= @photo.url_definitive %><br /> 
</p>


<p>
  <b>Légende:</b>
  <%= @photo.legende %>
</p>

<p>
  <b>Info:</b>
  <%= @photo.info %>
</p>

<%= render 'nav_show'%>