<h1><%=@titre%></h1>

<p>
  <b>Village:</b>
  <%= @photo.village.nom %>
</p>

<p>
  <b>Préfix:</b>
  <%= @photo.prefix %>
</p>


<p>
  <b>Url originale:</b>
  <%= @photo.url_originale %><br />
  <%= image_tag(@photo.url_photo(:web)) %>
  
</p>


<p>
  <b>Légende:</b>
  <%= @photo.legende %>
</p>

<p>
  <b>Info:</b>
  <%= @photo.info %>
</p>


<p>
  <b>Actif:</b>
  <%= @photo.actif %>
</p>


<%= link_to 'Editer', edit_photo_path(@photo) %> |
<%= link_to 'Retour', @village ? village_photos_path(@village) : photos_path %>
